USE [master]
GO
/****** Object:  Database [FilmArsivim]    Script Date: 8.07.2023 16:47:23 ******/
CREATE DATABASE [FilmArsivim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmArsivim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FilmArsivim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmArsivim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FilmArsivim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmArsivim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmArsivim]
GO
/****** Object:  Table [dbo].[TblFilmler]    Script Date: 8.07.2023 16:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblFilmler](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NULL,
	[Kategori] [varchar](50) NOT NULL,
	[Link] [varchar](100) NULL,
	[Durum] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblFilmler] ON 

INSERT [dbo].[TblFilmler] ([ID], [Ad], [Kategori], [Link], [Durum]) VALUES (1, N'Wednesday', N'Gizem', N'https://www.youtube.com/watch?v=w-z78eU9Zm4', 0)
INSERT [dbo].[TblFilmler] ([ID], [Ad], [Kategori], [Link], [Durum]) VALUES (2, N'Fury', N'Aksiyon', N'https://www.youtube.com/watch?v=09w9MTtZDEM', 1)
INSERT [dbo].[TblFilmler] ([ID], [Ad], [Kategori], [Link], [Durum]) VALUES (102, N'Transformers: Canavarların Yükselişi', N'Aksiyon', N'https://www.youtube.com/watch?v=0E6YqACCHIs', NULL)
SET IDENTITY_INSERT [dbo].[TblFilmler] OFF
GO
USE [master]
GO
